@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item big"><a href="index.html"><strong>Maintenance</strong></a></li>
    <li class="breadcrumb-item active big"><strong>Products</strong></li>
</ol>

<style>
    .big {
        font-size: 1.25em;
        color: black !important;
    }
</style>
<div class="card">
    <div class="card-header">
        <i class="fas fa-boxes me-1"></i> <strong>List Products</strong>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="openModal(null)">Create New Product</button>
            </div>
        </div>

        <hr />

        <table id="table" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Active</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" autocomplete="off" />

                <form id="contenedor" class="row">
                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_product" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProduct" accept="image/png, image/jpg, image/jpeg" onchange="showImage(this)" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" id="txtName" name="Name" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea type="text" class="form-control" id="txtDescription" name="Description" style="height:125px;resize:none"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Brand</label>
                            <select id="cboBrand" class="form-select"></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select id="cboCategory" class="form-select"></select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="text" class="form-control" id="txtPrice" name="Price" autocomplete="off" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class="form-control" id="txtStock" name="Stock" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Active</label>
                            <select id="cboActive" class="form-select">
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                </form>

                <!--Message Alert-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="messageError" class="alert alert-danger" role="alert">
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tabledata;
        var filaseleccionada;

        function showImage(input)
        {
            if (input.files) //Si tienes archivos continuamos con la lógica
            {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_product").attr("src", e.target.result).width(200).height(197)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        tabledata = $("#table").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListProducts", "Product")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "Name" },
                { "data": "Description" },
                {
                    "data": "oBrandId", "render": function (data) {
                        return data.Description
                    }
                },
                {
                    "data": "oCategoryId", "render": function (data) {
                        return data.Description
                    }
                },
                { "data": "Price" },
                { "data": "Stock" },
                {
                    "data": "Active", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Yes</span>'
                        }
                        else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button> '+
                        '<button type="button" class="btn btn-danger btn-sm m-2 btn-delete"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ]
        });

        jQuery.ajax({
            url: '@Url.Action("ListBrands", "Brand")',
            type: "GET",
            data: null,
            dataType: "json",
            contentenType: "application/json; charset=utf-8",
            success: function (data) {

                $("<option>").attr({ "value": "0", "dissabled": "true" }).text("Select").appendTo("#cboBrand");

                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.BrandId }).text(valor.Description).appendTo("#cboBrand");
                })
            },
            error: function () {
                console.log(error)
            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListCategories", "Category")',
            type: "GET",
            data: null,
            dataType: "json",
            contentenType: "application/json; charset=utf-8",
            success: function (data) {

                $("<option>").attr({ "value": "0", "dissabled": "true" }).text("Select").appendTo("#cboCategory");

                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.CategoryId }).text(valor.Description).appendTo("#cboCategory");
                })
            },
            error: function () {
                console.log(error)
            }
        });


        jQuery.validator.addMethod("priceDecimal", function (value, element) {
            return this.optional(element) || /^\d{0,4}(\.\d{0,2})?$/i.test(value);
        }, "The correct format of the price ##.##");

        $("#contenedor").validate({
            rules: {
                Name: {    //campo nombre es requerido
                    required: true
                },
                Description: {    //campo desc es requerido
                    required: true
                },
                Price: {    //campo price es requerido
                    required: true
                },
                Price: {    //campo price es requerido
                    required: true,
                    priceDecimal: true
                },
                Stock: {    //campo stock es requerido
                    required: true,
                    number: true
                },
            },
            messages: {
                Name: "- The name is required",
                Description: "- The description is required",
                Price: { required: "- The price is required", priceDecimal: "The correct format of the price ##.##" },
                Stock: { required: "- The stock is required", priceDecimal: "- You must enter only numbers in the stock "}
            },
            errorElement: "div",
            errorLabelContainer: "alet-danger"
        })

        function openModal(json)
        {
            console.log("json",json);
            $("#txtid").val(0);
            $("#img_product").removeAttr("src");
            $("#fileProduct").val("");
            $("#txtName").val("");
            $("#txtDescription").val("");
            $("#cboBrand").val($("#cboBrand option:first").val());
            $("#cboCategory").val($("#cboCategory option:first").val());
            $("#txtPrice").val("");
            $("#txtStock").val("");
            $("#cboActive").val(1);

            $("#messageError").hide();

            if (json != null)
            {
                $("#txtid").val(json.ProductId);
                $("#txtName").val(json.Name);
                $("#txtDescription").val(json.Description);
                $("#cboBrand").val(json.oBrandId.BrandId);
                $("#cboCategory").val(json.oCategoryId.CategoryId);
                $("#txtPrice").val(json.Price);
                $("#txtStock").val(json.Stock);
                $("#cboActive").val(json.Active == true ? 1 : 0);

                jQuery.ajax({
                url: '@Url.Action("ProductImage", "Product")', //para que pinte la imagen
                type: "POST",
                data: JSON.stringify({ id: json?.ProductId }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#img_product").LoadingOverlay("hide");

                    if (data.convertion) {
                        $("#img_product").attr({
                            "src": "data:image/" + data.extension + ";base64," + data.txtBase64
                        });
                    }
                },
                error: function (error) {
                    $("#img_product").LoadingOverlay("hide");

                    $("#messageError").show();
                    $("#messageError").text("Error displaying image");
                },
                beforeSend: function () {
                    $("#img_product").LoadingOverlay("show");
                },
            });

            }

            $("#FormModal").modal("show");
        }

        //edit
        $("#table tbody").on("click", '.btn-edit', function ()
        {
            filaseleccionada = $(this).closest("tr");
            var data = tabledata.row(filaseleccionada).data();
            openModal(data);
        });

        //delete
        $("#table tbody").on("click", '.btn-delete', function ()
        {
            var productselection = $(this).closest("tr");
            var data = tabledata.row(productselection).data();
            swal({
                title: "Are you sure?",
                text: "Do you want to delete the Product?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function ()
            {
                jQuery.ajax({
                    url: '@Url.Action("DeleteProduct", "Product")',
                    type: "POST",
                    data: { productId: data.ProductId },
                    dataType: "json",
                    contentenType: "application/json; charset=utf-8",
                    success: function (data)
                    {
                        if (data.result)
                        {
                            tabledata.row(productselection).remove().draw();
                        }
                        else
                        {
                            swal("Can't delete product", data.message, "error")
                        }
                    },
                    error: function (error)
                    {
                        console.log(error)
                    }
                })
            });
            console.log(data);
        });


        function Save()
        {
            if (!$("#contenedor").valid())  // si algun campo esta vacío no continua con el codigo
            {
                return;
            }

            var SelectImage = $("#fileProduct")[0].files[0];

            var Product =
            {
                ProductId: $("#txtid").val(),
                Name: $("#txtName").val(),
                Description: $("#txtDescription").val(),
                oBrandId: {
                    BrandId: $("#cboBrand option:selected").val(),
                    Description: $("#cboBrand option:selected").text()
                },
                oCategoryId: {
                    CategoryId: $("#cboCategory option:selected").val(),
                    Description: $("#cboCategory option:selected").text()
                },
                PriceText: $("#txtPrice").val(),
                Price: $("#txtPrice").val(),
                Stock: $("#txtStock").val(),
                Active: $("#cboActive").val() == 1 ? true : false
            };

            console.log("Product", Product);
            var request = new FormData();
            request.append("objecto", JSON.stringify(Product));
            request.append("archivoImage", SelectImage);
            jQuery.ajax(
            {
                    url: '@Url.Action("SaveProduct", "Product")',
                    type: "POST",
                    data: request,
                    processData: false,
                    contentType: false,
                    success: function (data)
                    {
                        $(".modal-body").LoadingOverlay("hide");


                        //PRODUCT NOW
                        if (Product.ProductId == 0)
                        {
                            console.log(data);
                            if (data.successfulOperation)
                            {
                                Product.ProductId = data.autogeneratedId;
                                tabledata.row.add(Product).draw(false);
                                $("#FormModal").modal("hide");
                            }
                            else
                            {
                                $("#messageError").text(data.message);
                                $("#messageError").show();
                            }
                        }

                        //PRODUCT EDIT
                        else
                        {
                            if (data.successfulOperation)
                            {
                                tabledata.row(filaseleccionada).data(Product).draw(false)
                                filaseleccionada = null;
                                $("#FormModal").modal("hide");
                            }
                            else
                            {
                                $("#messageError").text(data.message);
                                $("#messageError").show();
                            }
                        }
                    },
                    error: function (error)
                    {
                        $(".modal-body").LoadingOverlay("hide");
                        $("#messageError").text("Error Ajax");
                        $("#messageError").show();
                    },
                    beforeSend: function ()
                    {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizaFactor: 2,
                            text: "Loading...",
                            size: 14
                        })
                    }
            });
        }
    </script>
}
